body{
  margin: 0;
  padding: 0;
}

button{
  background: rgba(0, 0, 0, .3);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px #000;
  cursor: pointer;
  font-size: 2em;
  opacity: .3;
  padding: 1rem;
}

  #timer-controls:hover button,
  #timer-durations:hover button{
    opacity: 1;
  }

#timer,
#timer-controls,
#timer-durations{
  position: absolute;
  z-index: 10;
}

#timer{
  font-size: 15em;
  height: 100%;
  text-align: center;
  width: 100%
}
  #timer[data-timer-weakpoint='medium']{
    color: blue;
  }
  #timer[data-timer-weakpoint='low']{
    color: orange;
  }
  #timer[data-timer-weakpoint='finished']{
    color: red;
  }


#timer-controls{
  bottom: 5%;
  text-align: center;
  width: 100%;
  z-index: 100;
}

  #timer-controls button{
  }

#timer-durations{
  margin-top: -25%;
  bottom: 5%;
  width: 15%;
  z-index: 200;
}

  #timer-durations button{
    border-radius: 0 5px 5px 0;
    font-size: 1.5em;
    width: 100%;
  }

@media(max-width: 1000px){
  body{
    font-size: 80%;
  }
}
@media(max-width: 600px){
  body{
    font-size: 60%;
  }
}