body{
  margin: 0;
  padding: 0;
}

button{
  background: rgba(0, 0, 0, .3);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px #000;
  font-size: 2rem;
  opacity: .3;
  padding: 1rem;
}

  #timer-controls:hover button,
  #timer-durations:hover button{
    opacity: 1;
  }

#timer,
#timer-controls,
#timer-durations{
  position: absolute;
  z-index: 10;
}

#timer{
  font-size: 15rem;
  height: 100%;
  text-align: center;
  width: 100%
}

#timer-controls{
  bottom: 0;
  text-align: center;
  width: 100%;
  z-index: 100;
}

  #timer-controls button{
  }

#timer-durations{
  margin-top: -25%;
  top: 50%;
  width: 15%;
}

  #timer-durations button{
    border-radius: 0 5px 5px 0;
    font-size: 1.5rem;
    width: 100%;
  }